@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: lightgrey;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 100vh;
    border: 3px solid grey;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}
